<div class="row">
    
        <div class="col-xs-4">
          <a class="link-icon" href="https://www.facebook.com/colindwaddell" data-toggle="tooltip" title="facebook">
            <img src="/static/img/facebook.svg" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a class="link-icon" href="https://www.linkedin.com/profile/view?id=207368864" data-toggle="tooltip" title="linked in">
            <img src="/static/img/linkedin.svg" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a class="link-icon" href="https://twitter.com/ColinWaddellCom" data-toggle="tooltip" title="twitter">
            <img src="/static/img/twitter.svg" alt="">
          </a>
        </div>
        
      </div> <!-- row -->
    
    
      <div class="row">
    
        <div class="col-xs-4">
          <a class="link-icon" href="https://plus.google.com/115058664570473226586" data-toggle="tooltip" title="google+">
            <img src="/static/img/google-plus.svg" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a class="link-icon" href="https://github.com/ColinWaddell/" data-toggle="tooltip" title="github">
            <img src="/static/img/github.svg" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a class="link-icon" href="http://instagram.com/mrwarmtoast" data-toggle="tooltip" title="instagram">
            <img src="/static/img/instagram.svg" alt="">
          </a>
        </div>
    
     </div> <!-- row -->