<div class="row">

  <div class="col-xs-3">
    <a class="link-icon" href="https://www.linkedin.com/profile/view?id=207368864" data-toggle="tooltip"
      title="linked in">
      <img src="/static/img/linkedin.svg" alt="">
    </a>
  </div>
  <div class="col-xs-3">
    <a class="link-icon" href="https://github.com/ColinWaddell/" data-toggle="tooltip" title="github">
      <img src="/static/img/github.svg" alt="">
    </a>
  </div>
  <div class="col-xs-3">
    <a class="link-icon" href="https://twitter.com/CBotDev" data-toggle="tooltip" title="twitter">
      <img src="/static/img/twitter.svg" alt="">
    </a>
  </div>
  <div class="col-xs-3">
    <a class="link-icon" href="http://instagram.com/mrwarmtoast" data-toggle="tooltip" title="instagram">
      <img src="/static/img/instagram.svg" alt="">
    </a>
  </div>

</div> <!-- row -->