{% extends "./index.html" %}

{% block page %}
  <div class="col-md-9">
    {% if page_details %}
      <div class="pull-right page-details">{{file_created}}
        {% if page_details.edited %}
          <button class="btn btn-default" aria-label="Edited">
            {{ moment(page_details.edited).pretty_datetime() }} &nbsp;
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>  
        {% endif %}
      </div>
    {% endif %}

    {{ content }}
  </div>
{% endblock %}
